<html>
<body>
<form action="http://localhost:5000/result" method="POST">
    <p>Price <input type="text" name="Price"/></p>
    <p>Voltage1 <input type="text" name="Voltage1"/></p>
    <p>Voltage2 <input type="text" name="Voltage2"/></p>
    <p>Voltage3 <input type="text" name="Voltage3"/></p>
    <p>Voltage4 <input type="text" name="Voltage4"/></p>
    <p>Voltage5 <input type="text" name="Voltage5"/></p>
    <p>Output_Connection_Count <input type="text" name="Output_Connection_Count"/></p>
    <p>Feature <input type="text" name="Feature"/></p>
    <p>Category <input type="text" name="Category"/></p>
    <p>Ports1 <input type="text" name="Ports1"/></p>
    <p>Ports2 <input type="text" name="Ports2"/></p>
    <p>Ports3 <input type="text" name="Ports3"/></p>
    <p>Ports4 <input type="text" name="Ports4"/></p>
    <p>Ports5 <input type="text" name="Ports5"/></p>
    <p>Ports6 <input type="text" name="Ports6"/></p>
    <p>Record_Type <input type="text" name="Record_Type"/></p>
    <p>Input_Voltage <input type="text" name="Input_Voltage"/></p>
    <p>Nominal_Voltage <input type="text" name="Nominal_Voltage"/></p>
    <p>Input_Freq <input type="text" name="Input_Freq"/></p>
    <p>Input_Power <input type="text" name="Input_Power"/></p>
    <p>Mount_Position <input type="text" name="Mount_Position"/></p>
    <p>Output_Connection_Type <input type="text" name="Output_Connection_Type"/></p>
    <p>Plug_Style1 <input type="text" name="Plug_Style1"/></p>
    <p>Plug_Style2 <input type="text" name="Plug_Style2"/></p>
    <p>Plug_Style3 <input type="text" name="Plug_Style3"/></p>
    <p>Plug_Style4 <input type="text" name="Plug_Style4"/></p>
    <p>Rack_Mount <input type="text" name="Rack_Mount"/></p>
    <p>Ups_Batt_Type <input type="text" name="Ups_Batt_Type"/></p>
    <p>Warranty1 <input type="text" name="Warranty1"/></p>
    <p>Warranty2 <input type="text" name="Warranty2"/></p>
    <p>Warranty3 <input type="text" name="Warranty3"/></p>
    <p>SKU_Type <input type="text" name="SKU_Type"/></p>


    <p><input type="submit" value="submit"/></p>


</form>
</body>
</html>